/* LAYOUT */
* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* LAYOUT */

/* HEADER-NAV */
header {
  background-color: #0C325A;
}

nav ul {
  list-style: none;
  display: inline-block;
  font-size: 0.7em;
  vertical-align: middle;
}

.logo img {
  vertical-align: middle;
}

nav {
  padding-top: 15px;
  height: 57px;
}

nav ul li {
  display: inline-block;
  padding-right: 15px;
  padding-top: 10px;
}

ul a {
  text-decoration: none;
  color: white;
}

.logo {
  display: inline-block;
}

.btn {
  border-radius: 5px;
  padding: 9px;
  background-color: #7CBB02;
}

.btn-login {
  border: 1px solid;
  border-radius: 5px;
  padding: 9px 30px;
}

.btn-list-right {
  float: right;
  margin-top: 6px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
/* HEADER-NAV */

/* JUMBO */
.bg-jumbo {
  background-image: url("../img/background-header.png");
  height: 480px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.box{
  padding-top: 130px;
}

.text-jumbo {
  color: white;
  font-size: 3em;
  font-weight: bold;
}

.btn-jumbo {
 font-size: 14px;
 border-radius: 5px;
 padding: 20px;
 background-color: #7CBB02;
 text-decoration: none;
 color: white;
}

.btn-box {
 margin-top: 50px;
}
/* JUMBO */

/* MAIN-SECTION-1 */
.bg-gray {
  text-align: center;
  background-color: #D3D3D3;
}

.bg-gray h1{
  color: black;
  margin-bottom: 15px;
}

.row-gray {
  padding: 40px 0;
}
/* MAIN-SECTION-1 */

/* MAIN-SECTION-2 */
.row::after{
  content: "";
  clear: both;
  display: table;
}

[class^="col-"]{
  float: left;
}

/* width columns */
.col-100{
  width: 100%;
}
.col-33{
  width: calc(100% / 3);
}

/* width columns */
.img-left{
  background-image: url('../img/profile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
}

.img-center{
  background-image: url('../img/computer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
}

.img-right{
  background-image: url('../img/doc.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
}

/* MAIN-SECTION-2 */

/* UTILITY */
.text-gray{
  color: #838383;
}
.mt-1 {
  margin-top: 1em;
}
/* UTILITY */
.col-33 img {
  height: 180px;
  display:block;
  margin: 0px auto;
  text-align:center;
}
