* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
header {
  background-color: #0C325A;
}

nav ul {
  list-style: none;
  display: inline-block;
  font-size: 0.7em;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

nav {
  padding-top: 15px;
  height: 57px;
}

nav ul li {
  display: inline-block;
  padding-right: 15px;
  padding-top: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

.logo {
  display: inline-block;
}

.btn {
  border-radius: 5px;
  padding: 9px;
  background-color: #7CBB02;
}

.btn-login {
  border: 1px solid;
  border-radius: 5px;
  padding: 9px 30px;
}

.btn-list-right {
  float: right;
  margin-top: 6px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
/* HEADER */
